h1{
  border-bottom:solid 3px  #003399;
  padding: 3px;
  color: #003399;
  width: 500px;
}

div.st1{
  font-size: 14pt;
  font-weight: bold;
  padding-bottom:20px;
}

form{
  padding-left: 30px;
}