body{
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

td{
  height: 450px;
  text-align: center;
}

img{
  width: 700px;
  height: 445px;
  margin-bottom: 5px;
}